:global(.notificationWidget) {
  position: fixed;
  display: flex;
  margin: 12px;
  padding: 10px;
  background-color: white;
  border-left: 20px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
  font-size: 12px;
  width: 150px;
  min-height: 50px;
  align-items: center;
}

:global(.notificationWidget--type--alert) {
  border-color: red;
}

:global(.notificationWidget--type--warning) {
  border-color: yellow;
}

:global(.notificationWidget--type--info) {
  border-color: lightskyblue;
}
